<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @store.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @store.location %>
</p>

<p>
  <strong>Link:</strong>
  <%= @store.link %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
