<p id="notice"><%= notice %></p>

<h1>Check ins:</h1>

<table>
  <thead>
  <tr>
    <th>Costumer</th>
    <th>NRIC</th>
    <th>Temp</th>
    <th>Datetime</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @checkin.each do |checkin| %>
    <tr>
      <td><%= checkin.user.name %></td>
      <td><%= checkin.user.nric %></td>
      <td><%= checkin.temp %></td>
      <td><%= checkin.datetime %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

