<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @checkin.store_id %>
</p>

<p>
  <strong>Costumer:</strong>
  <%= @checkin.costumer_id %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @checkin.temp %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @checkin.datetime %>
</p>

<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
