<!DOCTYPE html>
<html>
  <head>
    <title>Faris</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if signed_in? %>
      <%= link_to "Home", stores_path %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% end %>
    <%if signed_in? && current_user.customer? %>
     <%= link_to "History", history_checkins_path %>
    <% end %>
    <%if signed_in? && current_user.owner? %>
    <%= link_to "My stores", myStore_checkins_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
